@import "../sass/zIndex.scss";

header {
    width: calc(100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    // 패팅 값
    // padding-left: 30px;
    // padding-right: 30px;

    .menu-btn {
        z-index: $menu-btn;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #bdbdbd;
        }
    }
}
