@import "../sass/zIndex.scss";
@import "../sass/common.scss";

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    box-shadow: 3px -5px 10px 5px rgba(189, 189, 189, 0.3); // X offset, Y offset, blur, spread, color

    .menu-btn {
        z-index: $menu-btn;
        width: $header-height;
        height: $header-height;
        position: fixed;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #bdbdbd;
        }
    }
}
