@import "../sass/color.scss";
@import "../sass/common.scss";

.post-container {
    width: 100%;
    display: flex;
    justify-content: center;
    .post-box {
        width: 60%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
