@import "../../sass/common.scss";

.post {
    width: $post-card-width;
    height: 280px;
    display: flex;
    align-items: center;
    padding: 14px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 10px -8px;

    .image-box {
        width: 30%;
        min-width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 260px;
            height: 260px;
        }
    }

    // 컨텐츠를 저장하는 부분
    .contents-box {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .title {
            height: 90px;
            display: flex;
            align-items: center;
        }

        .description {
            height: 90px;
            display: flex;
        }

        .tag-box {
            height: 100px;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            div {
                border: 1px solid #000000;
                padding: 2px 5px;
                border-radius: 50px;
                margin-right: 7px;
                margin-bottom: 7px;

                &::before {
                    content: "#";
                    vertical-align: middle;
                }
            }
        }
    }
}
