@import "../../sass/common.scss";

.post {
    width: $post-card-width;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-box {
    }

    .title {
        width: 100%;
    }

    .description {
        width: 100%;
    }
}
